nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 0 20px;
}

.nav-logo img {
	width: 90px;
}

nav ul {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav ul li {
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	padding-bottom: 5px;
}

nav ul li a {
	text-decoration: none;
	color: #333;
}
/* +1:-#fcb212 2:#e08804 +1:#89f3f3 2:#73c9c9 3:#308282  */
nav ul li:hover {
	background-color: #f27f92;
	color: #fff;
	padding: 5px;
}

/* media query */
@media (min-width: 768px) {
	nav ul {
		flex-direction: row;
	}
	nav ul li {
		padding: 10px;
	}
}
